.copyButtons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: $size_12;
}

@media screen and (max-width: $desktop_breakpoint_2) {
  .copyButtons {
    display: flex;
    flex-direction: column;
  }
}
