.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header__text {
  text-shadow: $size_2 $size_2 $size_3 $shadow;
}

@media screen and (max-width: $desktop_breakpoint_2) {
  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
