// Colours
$black: #000000;
$grey: #838383;
$pale_yellow: #fce6ceb0;
$red: #e80505;
$pink: #f531bf;
$gradient: linear-gradient(111.2deg, #e80505 1.7%, #f531bf 98.7%);
$white: #ffffff;
$shadow: #2e2e2e;

// Sizes
$size_1: 0.2rem;
$size_2: 0.4rem;
$size_3: 0.8rem;
$size_4: 1.2rem;
$size_5: 1.4rem;
$size_6: 1.6rem;
$size_7: 1.8rem;
$size_8: 2rem;
$size_9: 2.8rem;
$size_10: 3.2rem;
$size_11: 3.6rem;
$size_12: 4.8rem;
$size_13: 6.4rem;
$size_14: 7.2rem;
$size_15: 8.4rem;
$size_16: 9.6rem;
$size_17: 10.2rem;
$size_18: 11.4rem;
$size_19: 12.6rem;
$size_20: 13.8rem;
$size_21: 16.4rem;
$size_22: 19.2rem;
$size_23: 20.5rem;
$size_24: 24rem;
$size_25: 30rem;
$size_26: 39rem;

$desktop_breakpoint_1: 79rem;
$desktop_breakpoint_2: 69rem;
$desktop_breakpoint_3: 31.25rem;
